<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ar.call">

    <application
        android:name=".CallApp"
        android:allowBackup="true"
        android:icon="@mipmap/img_launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".utils.KeepAliveService"></service>
        <activity android:name=".multi.MultiVideosActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".p2p.CallActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".p2p.VideoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"/>

        <activity android:name=".multi.MultiCallActivity" />
        <activity android:name=".MainActivity"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>