html,
body,
.page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
  user-select: none;
}

p {
  margin: 0;
}

.page.d-none {
  display: none !important;
}

.extend-height {
  height: 100%;
}

.icon-btn {
  cursor: pointer;
}

.login {
  width: 800px;
  position: relative;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
}

.flex-basis-0 {
  flex-basis: 0% !important;
}

.login-left,
.login-right {
  position: relative;
  overflow: hidden;
}

.full-wrap {
  width: 100%;
  height: 100%;
}
.home-login-flex {
  display: flex;
}
/* login-left */
.login-left > .img-responsive {
  width: 100%;
}

/* login-right */
.login-right > .full-wrap {
  padding: 15px 30px;
}

.login-form {
  position: absolute;
  top: 0;
  /* left: 0; */
  left: 100%;
  transition: left 0.3s;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #fff;
}

.login-form.show {
  left: 0;
}

.login-form_bd {
  padding: 140px 28px 10px;
}

#userInputs input {
  outline: none;
  border: 4px solid #dddddd;
  border-radius: 10px;
  font-size: 1.5em;
  color: #949494;
}

#multiUserInputs input {
  outline: none;
  border: 4px solid #dddddd;
  border-radius: 10px;
  font-size: 1.5em;
  color: #949494;
}

#userMutiModalInputs input {
  outline: none;
  border: 4px solid #dddddd;
  border-radius: 10px;
  font-size: 1.5em;
  color: #949494;
}

.login-form_bt {
  color: #949494;
}

.login-form_desc,
.login-form_submit,
.login-form_ownid {
  text-align: center;
  color: #949494;
}

.login-form_submit {
  margin: 60px 0 10px;
}

.login-form_us > button {
  margin: 5px;
}

/* .login-form_submit > button:first-child {
  margin-bottom: 30px;
} */

.container-fluid {
  /* height: 52px; */
  padding: 14px 0;
  border-color: #40a3fc;
  background: #40a3fc;
  /* border-radius: 26px; */
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.17);
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  color: #fff !important;
}

.login-form_ownid {
  padding-bottom: 60px;
}

.login_bg {
  position: absolute;
  /* top: 0;
  left: 0; */
  bottom: 0;
  right: -20px;
  /* width: 820px; */
  top: -20px;
  left: -20px;
  z-index: -1;
}

.login_bg .img-responsive {
  width: 100%;
}

.warning_box {
  position: absolute;
  left: 25%;
  right: 25%;
  z-index: 10;
  text-align: center;
}

.warning_box .close {
  outline: none;
  line-height: 20px;
}

.warning_whole {
  left: 40%;
  right: 40%;
  z-index: 1060;
}

.userid-inputs {
}

.userid-inputs > input {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid #ccc;
}

.login-setting {
  z-index: 2;
}

.login-setting .setting-video_preview {
  margin: 34px auto 0;
  display: block;
  box-sizing: border-box;
  height: 210px;
  background: #f7f7f7;
  position: relative;
}

.setting-video_preview_bg {
  position: absolute;
  padding: 30px;
}

.setting-hd {
  height: 54px;
  line-height: 50px;
  border-bottom: 1px solid #eeeeee;
}

.setting-option_title {
  /* margin-top: 5px;
  margin-bottom: 7px; */
  height: 30px;
  line-height: 40px;
  font-size: 0.8em;
  color: #6a6a6a;
}

.setting-bd > select {
  outline: none;
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 40px;
  border-color: #ccc;
  font-size: 1.3em;
}

.meet-page {
  z-index: 3;
}

.meet-view {
  width: 100%;
  margin: 0 auto;
}

.switch-audio-call_item {
  display: none;
}

/* meet page */
@media screen and (max-width: 576px) {
  .meet-view {
    width: 100%;
    height: 100%;
    /* width: 400px;
    height: 300px; */
  }

  .video-preview_little {
    user-select: none;
    margin: 20px;
    width: 128px;
    height: 96px;
    z-index: 8;
    background: #1c1c1c;
    border: 1px solid #999999;
    position: absolute;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .meet-view {
    width: 400px;
    height: 300px;
  }

  .video-preview_little {
    user-select: none;
    margin: 20px;
    width: 128px;
    height: 96px;
    z-index: 8;
    background: #1c1c1c;
    border: 1px solid #999999;
    position: absolute;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .meet-view {
    width: 800px;
    height: 600px;
  }

  .video-preview_little {
    user-select: none;
    margin: 20px;
    width: 173px;
    height: 130px;
    z-index: 8;
    background: #1c1c1c;
    border: 1px solid #999999;
    position: absolute;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .meet-view {
    width: 800px;
    height: 600px;
  }

  .video-preview_little {
    user-select: none;
    margin: 20px;
    width: 233px;
    height: 175px;
    z-index: 8;
    background: #1c1c1c;
    border: 1px solid #999999;
    position: absolute;
  }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
  .meet-view {
    width: 900px;
    height: 675px;
  }

  .video-preview_little {
    user-select: none;
    margin: 20px;
    width: 275px;
    height: 206px;
    z-index: 8;
    background: #1c1c1c;
    border: 1px solid #999999;
    position: absolute;
  }
}

@media (min-width: 1500px) {
  .meet-view {
    width: 1100px;
    height: 825px;
  }

  .video-preview_little {
    user-select: none;
    margin: 20px;
    z-index: 8;
    background: #1c1c1c;
    border: 1px solid #999999;
    width: 300px;
    height: 225px;
    position: absolute;
  }
}

/* .video-preview_little.audio {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
} */

.video-preview_big {
  width: 100%;
  height: 100%;
  background: #333;
  position: relative;
}
.video-preview_big_left_bottom {
  padding: 0 10px;
  background-color: rgba(35, 35, 35, 1);
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
}
.video-preview_big_network {
  background: #000;
}

.video-preview_box {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-operate {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.derail_voice {
  display: block;
}

.derail_voice_close {
  display: none;
}

.derail_video {
  display: block;
}

.derail_video_close {
  display: none;
}

.derail {
  cursor: pointer;
}

/*  */
.invitation {
  padding: 40px 15px;
  width: 420px;
  background-color: #169bd5;
}

.head_portrait {
  padding: 50px 0 30px;
  /* background-color: #fff; */
}

.bd-highlight {
  background: url(../images/call_bg.png) no-repeat;
  background-position: center;
  background-size: initial;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

/* 音频通话 */
.audio_bg {
  /* height: 100%; */
  width: 100%;
  /* background: url(../images/audio_bg.png) no-repeat;
  background-position: center;
  background-size: 100%; */
  /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); */
}

.audio_main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.audio_time {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.35);
}

.audio_option {
  background: #fff;
  width: 175px;
  border-radius: 40px;
  justify-content: space-evenly;
  z-index: 666;
}

.audio_option > button {
  outline: none;
  border: 0;
  background: #fff;
  color: #515151;
  font-size: 1em;
}

.meet-control_icon {
  font-size: 1.5em;
}

.seting-mutil_height {
  padding: 5px 0;
  height: 50px;
  border-bottom: 1px solid #ddd;
}

/*  */
.prompt_little {
  padding: 0 10px;
  background-color: rgba(35, 35, 35, 1);
  position: absolute;
  z-index: 99;
  bottom: 0;
}

.prompt_big {
  position: absolute;
  z-index: 99;
  bottom: 0;
  color: #fff;
}
#userLocalVideoData {
  position: absolute;
  right: -204px;
  width: 204px;
  /* left: 120px; */
  top: 10px;
  /* width: 100%; */
  padding: 6px 10px;
  /* width: 120px; */
  z-index: 99;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
#userRemodeVideoData {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  padding: 6px 10px;
  /* width: 240px; */
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5);
}

.prompt_little > i,
.prompt_little > div {
  margin: 0 5px;
  opacity: 1;
}

.prompt_little > i {
  margin-right: 5px;
}

.prompt_little > div {
  color: #fff;
}

.icon_color_blue {
  color: #40a3fc;
}

.icon_color_red {
  color: #f97171;
}

.multiple_call_span::after {
  content: ",";
}

.user_characteristic {
  font-size: 1.5em;
  height: 54px;
}

/* 多人视频 */
.video-preview_small {
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  /* overflow: auto; */
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  z-index: 2;
}

.video-preview_small_box {
  box-sizing: border-box;
  user-select: none;
  width: 200px;
  height: 168px;
  z-index: 14;
  border: 1px solid #999999;
  position: relative;
}

.video-preview {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #232323;
}

.video-preview_state {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #232323;
}

.video-preview_status {
  color: #fff;
}

.video-icon_font {
  font-size: 2.5em;
}

.basicView_img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basicView_img_index {
  z-index: 1;
}
/* 模态框 */
.modal-form_bd {
  padding: 30px;
}

.user-tag > i {
  margin-left: 8px;
}

.user-tag > .icon-delete_open {
  display: none;
}

.user-tag:hover > .icon-delete_close {
  display: none;
}
.user-tag:hover > .icon-delete_open {
  display: inline-block;
}

.invite-btn > .icon-request_opacity {
  display: none;
}
.invite-btn:hover > .icon-request_transparent {
  display: none;
}
.invite-btn:hover > .icon-request_opacity {
  display: inline-block;
}
