html,
body,
.page {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.page.d-none {
	display: none !important;
}

.extend-height {
	height: 100%;
}

.icon-btn {
	cursor: pointer;
}

.login {
	width: 800px;
	position: relative;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
	border-radius: 20px;
	overflow: hidden;
}

.flex-basis-0 {
	flex-basis: 0% !important;
}

.login-left,
.login-right {
	position: relative;
	overflow: hidden;
}

.full-wrap {
	width: 100%;
	height: 100%;
}

/* login-left */
.login-left > .img-responsive {
	width: 100%;
}

/* login-right */
.login-right > .full-wrap {
	padding: 15px 30px;
}
.login-form {
	position: absolute;
	top: 0;
	/* left: 0; */
	left: 100%;
	transition: left 0.3s;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	padding: 15px;
	background-color: #fff;
}
.login-form.show {
	left: 0;
}
.login-form_bd {
	padding: 140px 0 10px;
}

#userInputs input {
	outline: none;
	border: 4px solid #dddddd;
	border-radius: 10px;
	font-size: 1.5em;
	color: #949494;
}

.login-form_bt {
	color: #949494;
}

.login-form_desc,
.login-form_submit,
.login-form_ownid {
	text-align: center;
	color: #949494;
}

.login-form_submit {
	margin: 60px 40px 10px;
}

.login-form_submit > button:first-child {
	margin-bottom: 30px;
}

.container-fluid {
	height: 52px;
	border-color: #40a3fc;
	background: #40a3fc;
	border-radius: 26px;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.17);
	font-size: 1.2em;
}

.login-form_ownid {
	/* margin-bottom: 15px; */
}

.login_bg {
	position: absolute;
	/* top: 0;
	left: 0; */
	bottom: 0;
	right: -20px;
	/* width: 820px; */
	top: -20px;
	left: -20px;
	z-index: -1;
}

.login_bg .img-responsive {
	width: 100%;
}

.warning_box {
	position: absolute;
	left: 25%;
	right: 25%;
	z-index: 10;
	text-align: center;
}
.warning_box .close{
	outline: none;
	line-height: 20px;
}

.userid-inputs {}

.userid-inputs>input {
	width: 60px;
	height: 60px;
	text-align: center;
	border: 1px solid #ccc;
}

.login-setting {
	z-index: 2;
}

.login-setting .setting-video_preview {
	margin: 34px auto 0;
	display: block;
	box-sizing: border-box;
	height: 210px;
	background: #f7f7f7;
	position: relative;
}

.setting-video_preview_bg {
	position: absolute;
	padding: 30px;
}

.setting-hd {
	height: 54px;
	line-height: 50px;
	border-bottom: 1px solid #eeeeee;
}

.setting-option_title {
	/* margin-top: 5px;
  margin-bottom: 7px; */
	height: 30px;
	line-height: 40px;
	font-size: 0.8em;
	color: #6a6a6a;
}

.setting-bd>select {
	outline: none;
	border: 0;
	border-bottom: 1px solid #ddd;
	width: 100%;
	height: 40px;
	border-color: #ccc;
	font-size: 1.3em;
}

.meet-page {
	z-index: 3;
}

.switch-audio-call_item {
	display: none;
}

/* meet page */
.video-preview_title {
	user-select: none;
	margin: 20px;
	width: 400px;
	height: 300px;
	z-index: 8;
	background: #1c1c1c;
	border: 1px solid #999999;
	position: absolute;
}
.video-preview_title.audio {
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	height: 120px;
}
.video-preview_big {
	width: 100%;
	height: 756px;
	background: #333;
	border-radius: 10px;
	position: relative;
}
.video-preview_box {
	position: relative;
	width: 100%;
	height: 100%;
}
.video-operate {
	position: absolute;
	bottom: 60px;
	width: 100%;
}

.derail_voice {
	display: block;
}

.derail_voice_close {
	display: none;
}

.derail_video {
	display: block;
}

.derail_video_close {
	display: none;
}

.derail {
	cursor: pointer;
}

/*  */
.invitation {
	padding: 40px 15px;
	width: 420px;
	background-color: #169BD5;
}

.head_portrait {
	padding: 50px 0 30px;
	/* background-color: #fff; */
}

.bd-highlight {
	background: url(../images/call_bg.png) no-repeat;
	background-position: center;
	background-size: initial;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);

}
